:root {
  --p1black: #012244; /* 1, 34, 68 */
  --p1dark: #654f89; /* 101, 79, 137 */
  --p1med: #C7C8DF; /* 199, 200, 223 */
  --p1light: #fbfbff; /* 251, 251, 255 */
  --p1acc1: #fac65e; /* 250, 198, 94 */
  --p1acc2: #a25cb9; /* 162, 92, 185 */
}

.selector-for-some-widget {
  box-sizing: content-box;
}

html, body {
  height: 100vh;
}

body {
  flex: 1 0 auto;
}

navbar-brand {
  color: #fff;
}

.content-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-fluid {
  padding-right:0;
  padding-left:0;
  display: flex;
  flex: 1 0 auto;
}

.related {
  color: #6ea8fe;
  font-weight: 400;
  font-size: larger;
  margin-right: 7px;
}

.related:hover{
  color: #FAC65E;
}

.related h5 {
  color: #FBFBFF;
}

footer {
  background-color: #1e4486;
  box-shadow: 0 50vh 0 50vh #1e4486;
}

footer a {
  text-decoration: none;
}

.btn-card {
  text-align: start;
  font-weight: 100;
}

@media screen and (max-width: 575px) {
  .footer {
    flex-wrap: none;
  }

  .footer-links {
    padding-left: 3rem;
  }

  .footer-links a {
    text-align: left;
  }
}

@media only screen and (max-width: 480px){
  .navbar-brand {
    font-size: 1rem;
  }

  .navbar-toggler {
    margin-right: 0;
  }
}

.carousel-inner .item {
  width: 100%;
  height: 82vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.ad1 {
  background: url(../images/HomePage/hp1-crop.jpg) no-repeat center center;
}

.ad2 {
  background: url(../images/HomePage/hp2-crop.jpg) no-repeat center center;
}

.ad3 {
  background: url(../images/HomePage/hp3-crop.jpg) no-repeat center center;
}

.ad4 {
  background: url(../images/HomePage/hp4-crop.jpg) no-repeat center center;
}

.ad5 {
  background: url(../images/HomePage/hp6-crop.jpg) no-repeat center center;
}

.ad6 {
  background: url(../images/HomePage/hp7-crop.jpg) no-repeat center center;
}